
.app-nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 12px 30px;
  background: linear-gradient(90deg, #2e7d32, #66bb6a);
  box-shadow: 8px 8px 10px rgb(188, 228, 107);
  position: sticky;  
  top: 0;           
  z-index: 1000;    
}


.app-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}


.app-nav-items {
  display: flex;
  gap: 20px;
}


.app-nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 10px;
  background: white;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.app-nav-item i {
  font-size: 1rem;
}


.app-nav-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


.page {
  margin-top: 70px; 
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
