.add-crop {
  width: 100%;
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, hsl(54, 100%, 62%), #f57f17);
}

.add-crop img {
  max-width: 600px;
  width: 100%;
  margin: 20px 0;
}

.add-crop form {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

.add-crop input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add-crop button {
  width: 100%;
  background: linear-gradient(90deg, #43a047, #81c784);
}
